body {
    font-family: Roboto;
}

header {
    width: 100%;
    height: 67px;
    background-color: #C3CFD9;
    font-size: 34px;
    color: #E8833A;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
}

.movies-container, .sessions-container, .seats-container, .purchase-order-container {
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessions-container, .seats-container {
    margin-bottom: 117px;
}

h1 {
    font-size: 24px;
    color: #293845;
    letter-spacing: 0.04em;
    margin: 50px 0;
}

.movies-container ul {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movies-container li {
    width: 145px;
    height: 209px;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
}

.movies-container li img {
    width: 129px;
    height: 193px;
}

.sessions-container ul {
    width: 100%;
    padding: 0 24px;    
}

.sessions-container li {
    margin-bottom: 30px;
}

.sessions-container li h2 {
    font-size: 20px;
    color: #293845;
    letter-spacing: 0.02em;
    margin-bottom: 27px;
}

.sessions-container .sessions {
    display: flex;
    flex-wrap: wrap;
} 

.sessions-container .sessions .session {
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 8px 0;
    cursor: pointer;
}

.sessions-container .sessions .session:active {
    background-color: #E8730A;
}

.seats-container h1 {
    margin-bottom: 0;
}

.seats-container .seats-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 24px;   
}

.seats-container .seats-row .seat, .seats-subtitle-box .seat {
    width: 26px;
    height: 26px;
    border: 1px solid #808F9D;
    background-color: #C3CFD9;
    font-size: 11px;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 18px 7px 0 0;
    cursor: pointer;
}

.seats-subtitle-box .seat {
    margin: 0;
}

.seat.selected {
    border: 1px solid #1AAE9E;
    background-color: #8DD7CF; 
}

.seat.unavailable {
    border: 1px solid #F7C52B;
    background-color: #FBE192; 
}

.seats-subtitle-box {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.seats-subtitle-box .seat-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.seats-subtitle-box .seat-subtitle:last-child {
    margin-right: 0;
}

.seats-subtitle-box span {
    font-size: 13px;
    color: #4E5A65;
    letter-spacing: -0.013em;
    margin-top: 8px;
}

.seats-buyer-box {
    width: 100%;
    margin-top: 42px;
    padding: 0 24px;
}

.seats-buyer-box h2 {
    font-size: 18px;
    color: #293845;
    margin-bottom: 3px;
}

.seats-buyer-box input {
    width: 100%;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #D5D5D5;
    margin-bottom: 7px;
    padding-left: 18px;
    font-size: 18px;
    font-style: italic;
    color: #293845;
}

::-webkit-input-placeholder {
    color: #AFAFAF;
 }

.seats-container button, .purchase-order-container button {
    width: 225px;
    height: 42px;
    margin: 50px 0 30px 0;
    background-color: #E8833A;
    border-radius: 3px;
    letter-spacing: 0.04em;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}

.seats-container button:active, .purchase-order-container button:active {
    background-color: #E8730A;
}

.footer {
    width: 100%;
    height: 117px;
    background-color: #DFE6ED;
    border-top: 1px solid #9EADBA;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer-image-box {
    width: 64px;
    height: 89px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
}

.footer img {
    width: 48px;
    height: 72px;
}

.footer-text {
    font-size: 26px;
    color: #293845;
    line-height: 30px;
}

.purchase-order-container h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    color: #247A6B;
    text-align: center;
    margin: 30px 0 40px 0;
}

.purchase-order-info {
    width: 100%;
    padding-left: 30px;
    margin-bottom: 30px;
    color: #293845;
    letter-spacing: 0.04em;
}

.purchase-order-info h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.purchase-order-info h5 {
    font-size: 22px;
    line-height: 26px;
}

.escondido {
    display: none;
}